@import "tailwindcss";

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-light {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-tight-medium {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-scroll {
  overflow-y: hidden !important; /* Скрывает вертикальную прокрутку */
  overflow-x: auto !important; /* Разрешает горизонтальную прокрутку */
  /* Скрываем скроллбар для всех браузеров */
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE и Edge */
}

.no-scroll::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
  width: 0 !important;
  height: 0 !important;
}

.no-scroll::-webkit-scrollbar-track {
  display: none !important;
}

.no-scroll::-webkit-scrollbar-thumb {
  display: none !important;
}

/* Скрываем скроллбар для всех дочерних элементов */
.no-scroll *,
.no-scroll * * {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.no-scroll *::-webkit-scrollbar,
.no-scroll * *::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

.no-scroll *::-webkit-scrollbar-track,
.no-scroll * *::-webkit-scrollbar-track {
  display: none !important;
}

.no-scroll *::-webkit-scrollbar-thumb,
.no-scroll * *::-webkit-scrollbar-thumb {
  display: none !important;
}

.no-scroll > * {
  overflow-y: hidden !important;
  max-height: 38px;
}

/* Скрытие скроллбара для ScrollShadow */
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hide-scrollbar::-webkit-scrollbar-track {
  display: none !important;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none !important;
}

